.rheostat {
  overflow: visible;
  margin: 32px 16px 0;
}

.rheostat-background {
  background-color: #d8d8d8;
  height: 6px;
  margin: 0 -16px;
  border-radius: 3px;
  position: relative;
}

.rheostat-progress {
  background-color: #008489;
  position: absolute;
  height: 100%;
  top: 0;
}

.rheostat-handle {
  background: #ffffff;
  border: 1px solid #008489;
  box-sizing: border-box;
  border-radius: 50%;
  cursor: pointer;
  height: 32px;
  outline: none;
  z-index: 2;
  width: 32px;
  top: 3px;
  transform: translate(-50%, -50%);
}

.rheostat-handle:before,
.rheostat-handle:after {
  content: "";
  display: block;
  position: absolute;
  background-color: #dadfe8;
}
