@font-face {
  font-family: "Circular Air";
  src: url("circular_air-book-webfont.eot");
  src: url("circular_air-book-webfont.eot?#iefix") format("embedded-opentype"),
    url("circular_air-book-webfont.woff2") format("woff2"),
    url("circular_air-book-webfont.woff") format("woff"),
    url("circular_air-book-webfont.ttf") format("truetype"),
    url("circular_air-book-webfont.svg#Circular Air") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Circular Air";
  src: url("circular_air-bold-webfont.eot");
  src: url("circular_air-bold-webfont.eot?#iefix") format("embedded-opentype"),
    url("circular_air-bold-webfont.woff2") format("woff2"),
    url("circular_air-bold-webfont.woff") format("woff"),
    url("circular_air-bold-webfont.ttf") format("truetype"),
    url("circular_air-bold-webfont.svg#Circular Air") format("svg");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "Circular Air";
  src: url("circular_air-light-webfont.eot");
  src: url("circular_air-light-webfont.eot?#iefix") format("embedded-opentype"),
    url("circular_air-light-webfont.woff2") format("woff2"),
    url("circular_air-light-webfont.woff") format("woff"),
    url("circular_air-light-webfont.ttf") format("truetype"),
    url("circular_air-light-webfont.svg#Circular Air") format("svg");
  font-weight: 300;
  font-style: normal;
}
